---
interface Props {}
---

<div class="h-15">
  <nav
    class="w-screen bg-[#333333cc] h-15 flex items-center justify-center fixed shadow-menubar backdrop-blur"
  >
    <div class="max-w-4xl w-full justify-between flex px-7">
      <a class="w-9 block" href="/">
        <img class="w-9 h-9 rounded-full" src="/icon.png" alt="Icon" />
      </a>
      <ul class="flex items-center gap-5">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/projects">Projects</a>
        </li>
        <li>
          <a href="https://github.com/yutalinux">
            <img src="/github-mark.svg" alt="" class="w-5 h-5" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
